<html>
<head>
<title>Mailroom</title>
</head>
<body>
    <nav>
        <p>
            <a herf="{{ url_for('all') }}">List of Donations</a>
            <a herf="{{ url_for('create') }}">New Donations</a>
        </p>
    </nav>
	<h1>Donations</h1>
	<h2>{% block subtitle %} {% endblock subtitle %}</h2>
	{% block content %} {% endblock content %}
</body>
</html>
